{{!< layout}}
<script type="text/javascript" src="/dist/bundled.snyk.repo.page.js"></script>
<div id="maincontainer">
        <div id="container">
        </div>
 </div>
  <div class="field-group hidden">
      <input class="text" type="text" id="jwttoken" name="jwttoken" value="{{token}}">
      <input class="text" type="text" id="username" name="username" value="{{username}}">
      <input class="text" type="text" id="repoOwner" name="repoOwner" value="{{repoOwner}}">
      <input class="text" type="text" id="repoSlug" name="repoSlug" value="{{repoSlug}}">
      <input class="text" type="text" id="repoMainBranch" name="repoMainBranch" value="{{repoMainBranch}}">
  </div>